<input type="radio" name="pizza" id="chicken" value="chicken">BBQ Chicken
    <label for="chicken"><img src="https://cache.dominos.com/nolo/ca/en/02180/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZBQ.jpg" alt="pizza" style="width:304px;height:228px;"></label><br /> 
  <input type="radio" name="pizza" id="brooklyn" value="brooklyn">Brooklyn
    <label for="brooklyn"><img src="https://cache.dominos.com/nolo/ca/en/02180/assets/build/market/CA/_en/images/img/products/thumbnails/S_BRKLYN.jpg" alt="pizza" style="width:304px;height:228px;"></label><br /> 
  