    <input type="radio" name="pizza" id="everything" value="everything">Everything
    <label for="everything"><img src="https://cache.dominos.com/nolo/ca/en/02180/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZZZ.jpg" alt="pizza" style="width:304px;height:228px;"></label><br /> 
  <input type="radio" name="pizza" id="veggie" value="veggie">Veggie
    <label for="veggie"><img src="https://cache.dominos.com/nolo/ca/en/02180/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZVX.jpg" alt="pizza" style="width:304px;height:228px;"></label><br /> 
    <br /> 