<input type="radio" name="pizza" id="deluxe" value="deluxe">Deluxe
    <label for="deluxe"><img src="https://cache.dominos.com/nolo/ca/en/02180/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZDX.jpg" alt="pizza" style="width:304px;height:228px;"></label><br /> 
  <input type="radio" name="pizza" id="canadian" value="canadian">Canadian 
    <label for="canadian"><img src="https://cache.dominos.com/nolo/ca/en/02180/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZCA.jpg" alt="pizza" style="width:304px;height:228px;"></label><br /> 
  