<input type="radio" name="pizza" id="steak" value="steak"> Philly Steak
    <label for="steak"><img src="https://cache.dominos.com/nolo/ca/en/02180/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZPH.jpg" alt="pizza" style="width:304px;height:228px;"></label><br /> 
  <input type="radio" name="pizza" id="hawaiian" value="hawaiian" > Hawaiian
    <label for="hawaiian"><img src="https://cache.dominos.com/nolo/ca/en/02180/assets/build/market/CA/_en/images/img/products/thumbnails/S_PIZHX.jpg" alt="pizza" style="width:304px;height:228px;"></label><br /> 
  